# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
backend/.env

# Flutter
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Android
*.apk
*.aab

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log